@import '../../scss/variables';

.button {
    font-weight: bold;
    border-radius: 10px;
    margin-inline: auto;
    display: block;
    width: 500px;
    height: 120px;
    margin-block-start: 10vh;
    transform: translateY(-30%);

}

