.account {
    &-name{
        place-items: center;
        display: grid;
        font-size: 55px;
        font-weight: bold;
        
    }

    &-wapper {
        display: block;
        width: 680px;
        height: 500px;
        background-color: white;
        border: 1px solid black;
        margin: 24px 390px ;
        border-radius: 10px;
    }

    &-inputs {
        padding: 30px 60px;
        font-size: 22px;
        font-weight: bold;

        
        #login {
            padding: 7px 120px;
            background-color: #D2EEDA;
            margin-block-start: 2vh;
            border: 1px solid black;
        }

        #nick{
            padding: 7px 120px;
            background-color: #D2EEDA;
            margin-block-start: 2vh;
            border: 1px solid black;
        }

        #password {
            padding: 7px 120px;
            background-color: #D2EEDA;
            margin-block-start: 2vh;
            border: 1px solid black;
        }

        #newPassword{
            padding: 7px 120px;
            background-color: #D2EEDA;
            margin-block-start: 2vh;
            border: 1px solid black;
        }
    }

    &-text1 {
        margin-right: 53vh;
        margin-block-start: -2vh;
    }

    &-nick {
        margin-right: 56vh;
        margin-block-start: 1vh;
    }

    &-number1 {
        margin-right: 51vh;
        margin-block-start: 1vh;
    }

    &-number2 {
        margin-right: 47vh;
        margin-block-start: 1vh;
    }

    &-b1 {
        background-color: #BDF3BF;
        width: 400px;
        height: 50px;
        font-size: 30px;
        font-weight: bold;
        border-radius: 8px;
        border: 1px solid black;
    }

    &-b2 {
        background-color: #DDC2F3;
        border-radius: 7px;
        width: 250px;
        height: 75px;
        margin: 8px 750px;
        font-size: 30px;
        font-weight: bold;
        margin-block-start: -1vh;
        border: 1px solid black;
    }

}